body {
  background-image: url(./imagens/fundo.png);
  padding: 0 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#contato,
body#quemsomos {
  background-image: url(./imagens/fundo2.png);
}
div#infoBar {
  margin-top: 0.6%;
  align-self: stretch;
  display: flex;
  align-items: center;
  height: 12vh;
}
div#options {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5%;
}
main {
  margin-top: -18px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
img#capa {
  margin-top: 7px;
  align-self: center;
  width: 83.5%;
}
hr {
  width: 100%;
}
#homeText{
  align-self: center;
  width: 83.5%;
}
h2,
p {
  text-align: justify;
}
footer {
  align-self: center;
  font-weight: 600;
}
