{% extends 'template.html' %}

    {% block title %} Home {% endblock %}
    {% block id %}home{% endblock %}
    {% block content %}
        <main>
            <img id="capa" src="../static/CSS/imagens/capa.png" alt="capa">
            <div id="homeText">
                <h2>Sobre a universidade</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Fames ac turpis egestas integer eget aliquet nibh praesent. Pellentesque habitant morbi tristique senectus et netus et. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. A diam maecenas sed enim. Est ultricies integer quis auctor elit sed vulputate mi. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Nulla pharetra diam sit amet nisl suscipit adipiscing. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. Fames ac turpis egestas integer eget aliquet nibh praesent. Pellentesque habitant morbi tristique senectus et netus et. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. A diam maecenas sed enim. Est ultricies integer quis auctor elit sed vulputate mi. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Nulla pharetra diam sit amet nisl suscipit adipiscing. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
                </div>
        </main>
        <footer>Todos os direitos reservados</footer>
    {% endblock %}